<nav class="navbar navbar-dark bg-primary">
  <div class="mx-3 container-fluid">
    <a href=""> <span class="navbar-brand h1">Advisor</span></a>
  </div>
</nav>

<div class="container-fluid">
  <div class="container my-3">
    <main>
      <div *ngIf="!this.db && !this.uploading">
        <div class="jumbotron">
          <h1 class="display-4">Hello, there!</h1>
          <p class="lead">This is the first demo for the log investigator Advisor.</p>
          <hr class="my-4">
          <p>Start uploading and analysing logs now!</p>
          <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
            aria-controls="offcanvasBottom">Get started</button>

        </div>
        <div *ngIf="savedReports" class="raw" style="margin-top: 20rem;">
          <div class="container">
            <h4>Recent analysis</h4>
          </div>
          <div class="list-group">
            <a *ngFor="let savedReport of savedReports" (click)="loadSavedReport(savedReport)" href="#"
              class="list-group-item list-group-item-action">
              <div class="d-flex justify-content-between">
                <p>{{savedReport.fileName}}</p>
                <p class="badge bg-primary"> {{savedReport.date|date:'yyyy-MM-dd HH:mm:ss'}}</p>
              </div>
              <small> {{savedReport.data.length}} exceptions found.</small>
            </a>
          </div>
        </div>


        <div class="offcanvas offcanvas-bottom container d-flex align-items-center" tabindex="-1" id="offcanvasBottom"
          aria-labelledby="offcanvasBottomLabel">
          <!-- <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Start uploading and analysing logs now!</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div> -->
          <div class="input-group mt-5" style="width: 30%;">
            <input (change)="fileChange($event)" type="file" class="form-control" id="inputGroupFile04"
              aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <button (click)="analyseFile()" class="btn btn-primary" type="button" id="inputGroupFileAddon04"
              [disabled]="!file" data-bs-dismiss="offcanvas" aria-label="Close">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                class="bi bi-cloud-arrow-up" viewBox="0 0 19 19">
                <path fill-rule="evenodd"
                  d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z" />
                <path
                  d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
              </svg>
              Analyse</button>
          </div>
          <div style="width: 30%; margin-top: 30px;">
            <p class="mb-1 fw-bold">Limit search : </p>
            <div class="input-group">
              <span class="input-group-text" style="width: 140px;">From date : </span>
              <input [(ngModel)]="fromDate" type="date" class="form-control">
              <input [(ngModel)]="fromTime" type="time" class="form-control">
            </div>
            <div class="input-group">
              <span class="input-group-text" style="width: 140px;">To date : </span>
              <input [(ngModel)]="toDate" type="date" class="form-control">
              <input [(ngModel)]="toTime" type="time" class="form-control">
            </div>
          </div>

          <div style="width: 30%; margin-top: 10px;">
            <div class="input-group">
              <span class="input-group-text" style="width: 140px;">Exception name : </span>
              <input [(ngModel)]="exceptionNameFilter" type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="container" *ngIf="this.uploading">
        <!-- <div class="d-flex justify-content-center mt-5">
          <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm me-3" role="status" aria-hidden="true"></span> {{this.uploading}}
          </button>
        </div> -->
        <div class="container-fluid p-5">
          <div class="shadow-lg rounded console-body p-2" style="height: 80vh;">
            <div id="screen" class="container">
              <b id="prompt" class="idle">&marker;</b>
            </div>
          </div>
        </div>
      </div>
      <div class="" *ngIf="db && db.length == 0 && !log">
        <div class="row">
          <div class="col-md-12">
            <div class="error-template">
              <h1> Oops!</h1>
              <h2> This log seems to be from a different era</h2>
              <div class="error-details">
                We would like to help you next time, it would be great if you shared this file with us. Thanks!
              </div>
              <div class="error-actions">
                <a href="" class="btn btn-primary btn-lg">
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                    class="bi bi-house-door-fill" viewBox="0 0 19 19">
                    <path
                      d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
                  </svg>
                  Take Me Home </a>
                <a href="" class="btn btn-secondary btn-lg">
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                    class="bi bi-envelope" viewBox="0 0 19 19">
                    <path
                      d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                  </svg>
                  Contact Support </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="db && db.length > 0 && !log">
        <div class="row d-flex flex-md-nowrap my-3">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                fill="currentColor" width="24" height="24">
                <path fill-rule="evenodd"
                  d="M7.72.22a.75.75 0 011.06 0l1.204 1.203A4.983 4.983 0 0112 1c.717 0 1.4.151 2.016.423L15.22.22a.75.75 0 011.06 1.06l-.971.972A4.988 4.988 0 0117 6v1.104a2.755 2.755 0 011.917 1.974l1.998-.999a.75.75 0 01.67 1.342L19 10.714V13.5l3.25.003a.75.75 0 110 1.5L19 15.001V16a7.02 7.02 0 01-.204 1.686.833.833 0 01.04.018l2.75 1.375a.75.75 0 11-.671 1.342l-2.638-1.319A7 7 0 0112 23a7 7 0 01-6.197-3.742l-2.758 1.181a.75.75 0 11-.59-1.378l2.795-1.199A7.007 7.007 0 015 16v-.996H1.75a.75.75 0 010-1.5H5v-2.79L2.415 9.42a.75.75 0 01.67-1.342l1.998.999A2.755 2.755 0 017 7.104V6a4.99 4.99 0 011.69-3.748l-.97-.972a.75.75 0 010-1.06zM8.5 7h7V6a3.5 3.5 0 10-7 0v1zm-2 3.266V9.75c0-.69.56-1.25 1.25-1.25h8.5c.69 0 1.25.56 1.25 1.25V16a5.5 5.5 0 01-11 0v-5.734z">
                </path>
              </svg></span>
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" [(ngModel)]="search"
              (keyup)="updateList() " aria-describedby="basic-addon1" [disabled]="downloading">
            <button class="btn btn-primary pulse" type="button" (click)="downloading = true; SavePDF()"
              [disabled]="downloading">
              <svg *ngIf="!downloading" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="24" height="24"
                viewBox="0 0 28 28">
                <path
                  d="M11.363 2c4.155 0 2.637 6 2.637 6s6-1.65 6 2.457v11.543h-16v-20h7.363zm.826-2h-10.189v24h20v-14.386c0-2.391-6.648-9.614-9.811-9.614zm4.811 13h-2.628v3.686h.907v-1.472h1.49v-.732h-1.49v-.698h1.721v-.784zm-4.9 0h-1.599v3.686h1.599c.537 0 .961-.181 1.262-.535.555-.658.587-2.034-.062-2.692-.298-.3-.712-.459-1.2-.459zm-.692.783h.496c.473 0 .802.173.915.644.064.267.077.679-.021.948-.128.351-.381.528-.754.528h-.637v-2.12zm-2.74-.783h-1.668v3.686h.907v-1.277h.761c.619 0 1.064-.277 1.224-.763.095-.291.095-.597 0-.885-.16-.484-.606-.761-1.224-.761zm-.761.732h.546c.235 0 .467.028.576.228.067.123.067.366 0 .489-.109.199-.341.227-.576.227h-.546v-.944z" />
              </svg>
              <span *ngIf="downloading" class="spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></span>
              <span [ngClass]="downloading ? 'small' : ''">{{downloading ? ' Downloading pdf...' :
                (search ? 'Export current search' :'Export pdf')}}</span>
            </button>
          </div>
        </div>
        <div id="content">
          <div class="row">
            <div class="col-6 ">
              <app-line-chart line [lineData]="lineData"></app-line-chart>
              <app-bubble-chart bubble [exception]="bubEx"></app-bubble-chart>
            </div>
            <app-pie-chart pie class="col-6 chart bg-body rounded shadow-lg p-2 my-2" (ex)="updateBubbleChart($event)"
              [exceptions]="exceptions">
            </app-pie-chart>
          </div>
          <div class="p-2 mt-3 ">
            <div class="row fw-bold shadow-lg border border-2 bg-body rounded">
              <div (click)="sortByName()" class="col-6 ">Name</div>
              <div (click)="sortByCount()" class="col-1">Count</div>
              <div (click)="sortByFirstOccurence()" class="col-2">First occurence</div>
              <div (click)="sortByLastOccurence()" class="col-2">Last occurence</div>
            </div>
          </div>
          <div *ngFor="let exception of exceptions; let e = index" class="shadow-lg p-2 mb-2 bg-body rounded">
            <a class="text-decoration-none text-dark" data-bs-toggle="collapse" href="#exception{{e}}" role="button"
              aria-expanded="true" [attr.aria-controls]="'exception' +e">
              <div class="row p-2">
                <div class="col-6 fw-bold">{{exception.exception.name}}</div>
                <div class="col-1">{{exception.count}}</div>
                <div class="col-2">{{exception.firstOccurence}}</div>
                <div class="col-2">{{exception.lastOccurence}}</div>
              </div>
            </a>
            <div class="collapse mb-2 exception" id="exception{{e}}">
              <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </symbol>
                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path
                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                </symbol>
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 24 24">
                  <path
                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </symbol>
              </svg>
              <div class="alert alert-danger mb-1 mx-5  mt-2" role="alert">
                <div class="d-flex align-items-center">
                  <svg class="bi flex-shrink-0 me-2" width="30" height="30" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill" />
                  </svg>
                  <h5 class="alert-heading">Message:</h5>
                </div>
                <p class="mb-0">{{exception.message}}</p>
              </div>

              <div *ngIf="!exception.hint.includes('No idea!')" class="mx-5">
                <div class="alert alert-primary d-flex align-items-center mb-1 fw-bold" role="alert">
                  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#info-fill" />
                  </svg>
                  <div>
                    {{exception.hint}}
                  </div>
                </div>
                <div class="alert alert-success d-flex align-items-center fw-bold" role="alert">
                  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill" />
                  </svg>
                  <div>
                    {{exception.todo}}
                  </div>
                </div>
              </div>

              <div class="container  mt-3  bg-body rounded shadow-lg border border-2 rounded">
                <div class="row fw-bold">
                  <div class="col-3 d-flex justify-content-center">Date</div>
                  <div class="col-4 d-flex justify-content-center">Logger</div>
                  <div class="col-4 d-flex justify-content-center">Thread</div>
                  <div class="col-1 d-flex justify-content-center">Level</div>
                  <div></div>
                </div>
              </div>

              <div id="editor" class="container mt-1  bg-body rounded shadow border border-1 rounded">
                <div *ngFor="let occurence of occurences(exception); let o = index" class="p-1 border-bottom">
                  <a class="text-decoration-none text-dark" data-bs-toggle="collapse" href="#cb{{e}}-{{o}}"
                    role="button" aria-expanded="false" [attr.aria-controls]="'cb'+e+'-'+o">
                    <div class="row ">
                      <div class="col-3 d-flex justify-content-center">{{occurence.date}}</div>
                      <div class="col-4 d-flex justify-content-center">{{occurence.logger}}</div>
                      <div class="col-4 d-flex justify-content-center">{{occurence.thread}}</div>
                      <div class="col-1 d-flex justify-content-center">
                        <div level-color [level]='occurence.level' class="rounded px-2 fw-bold">
                          {{occurence.level}}
                        </div>
                      </div>
                    </div>
                  </a>
                  <div class="collapse container p-3 " id="cb{{e}}-{{o}}">
                    <div class="container p-2 console-body">
                      <div *ngFor="let cb of occurence.causedBy">
                        <p> {{cb}}</p>
                      </div>
                      <a data-bs-toggle="collapse" href="#seemore{{e}}-{{o}}" role="button" aria-expanded="false"
                        [attr.aria-controls]="'cb'+e+'-'+o">show more...</a>
                    </div>
                    <div class="collapse container p-2 console-body" id="seemore{{e}}-{{o}}">
                      {{occurence.stackTrace}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
  </div>


</div>
